<body>
<div class="container  bc">
  <div class="blog-header topbanner">
    <h1 class="blog-title opening1">2018 World Cup</h1>
    <p class="lead blog-description opening2">Grand opening in Russia！</p>
  </div>
  <div>
    <div class="col-sm-8">
      <div class="b">
        <h2 class="title">世界杯</h2>
        <div class="hrr"></div>
        <h3 class="sv">
          <a class="newsv" [routerLink]="['#']" target="_blank"
            title="正直播丹麦0-0法国 丹麦不败即出线">正直播丹麦0-0法国 丹麦不败即出线</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="实时赛况：关注每个进球触发的小组排名变动">实时赛况：关注每个进球触发的小组排名变动</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="GIF-法国禁区内获得破门良机 吉鲁抽射被门将扑出">GIF-法国禁区内获得破门良机 吉鲁抽射被门将扑出</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="法国青年军能否重现辉煌1998？他们只有一个短板">法国青年军能否重现辉煌1998？他们只有一个短板</a>
        </p>

        <h3 class="sv">
          <a class="newsv" [routerLink]="['#']" target="_blank"
             title="梅西能否再次拯救阿根廷 复制1974年第三轮奇迹">梅西能否再次拯救阿根廷 复制1974年第三轮奇迹</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="明晨2时播冰岛vs克罗地亚 阿根廷命运审判">明晨2时播冰岛vs克罗地亚 阿根廷命运审判</a>
        </p>
        <p >
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="莫德里奇：阿根廷仍能出线 克罗地亚可以走更远">莫德里奇：阿根廷仍能出线 克罗地亚可以走更远</a>
        </p>
        <a class="newsv " [routerLink]="['#']" target="_blank"
           title="GIF-秘鲁打进本届世界杯首球 球迷激动落泪">GIF-秘鲁打进本届世界杯首球 球迷激动落泪</a>


      </div>
      <!-- 世界杯部分 end -->

      <div class="b">
        <h2 class="title">NBA</h2>
        <div class="hrr"></div>
        <h3 class="sv">
          <a class="newsv" [routerLink]="['#']" target="_blank"
             title="年度颁奖典礼：哈登荣膺常规赛MVP">年度颁奖典礼：哈登荣膺常规赛MVP</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="获奖名单：西蒙斯最佳新秀 戈贝尔最佳防守球员">获奖名单：西蒙斯最佳新秀 戈贝尔最佳防守球员</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="颁奖礼发生了啥？雷霆三少全获MVP 指环王竖中指">颁奖礼发生了啥？雷霆三少全获MVP 指环王竖中指</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="贫民窟走出MVP：一个标志、两位恩人、三项绝技">贫民窟走出MVP：一个标志、两位恩人、三项绝技</a>
        </p>
        <h3 class="sv">
          <a class="newsv" [routerLink]="['#']" target="_blank"
             title="科比正式宣布复出 并且加盟广东东莞银行队 宣称要重获总冠军">科比正式宣布复出 并且加盟广东东莞银行队 宣称要重获总冠军</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="历史突破 姚明带领国足率先取得小组晋级名额">历史突破 姚明带领国足率先取得小组晋级名额</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="重磅消息 詹姆斯加盟北京金隅 与科比正式对线">重磅消息 詹姆斯加盟北京金隅 与科比正式对线</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['#']" target="_blank"
             title="杨咩咩跨界成为NBA咩咩操掌门人 各领风骚">杨咩咩跨界成为NBA咩咩操掌门人 各领风骚</a>
        </p>
      </div>
      <!-- NBA部分 end -->
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <!-- 视频导航  -->
      <div class="scr-tit cf">
        <div><h4 class="fl">精彩视频</h4></div>
        <br>
        <ul class="fl">
          <li class="fl"><a [routerLink]="['#']"
             target="_blank">热门全场集锦</a></li>
          <li class="line fl"></li>
          <li class="fl"><a [routerLink]="['#']" target="_blank">最热</a></li>
          <li class="line fl"></li>
          <li class="fl"><a [routerLink]="['#']" target="_blank">NBA</a></li>
          <li class="line fl"></li>
          <li class="fl"><a [routerLink]="['#']" target="_blank">CBA</a></li>
          <li class="line fl"></li>
          <li class="fl"><a [routerLink]="['#']" target="_blank">英超</a></li>
          <li class="line fl"></li>
          <li class="fl"><a [routerLink]="['#']" target="_blank">中超</a></li>
          <li class="line fl"></li>
          <li class="fl"><a [routerLink]="['#']" target="_blank">欧冠</a></li>
        </ul>
        <!-- 视频部分  -->
        <ul class="scr-vds ft12 cf fl" bosszone="TS_JCvideo">
          <li>
            <a target="_blank" [routerLink]="['#']">
            <div class="vds-img">
            <img width="300" height="180" alt="" src="http://i.gtimg.cn/qqlive/img/jpgcache/files/qqvideo/hori/h/hskl7r2bqnybh4j_big.jpg">
            <span class="txt">赛季胯下妙传助攻精彩瞬间</span>
            </div>
            <p class="cf"><span class="time fl f">03:30</span><span class="count fr">293万</span></p>
            </a>
          </li>
          <li>
            <a target="_blank" [routerLink]="['#']">
              <div class="vds-img">
                <img width="300" height="180" alt="" src="http://i.gtimg.cn/qqlive/img/jpgcache/files/qqvideo/hori/q/qopfh2zohecayks_big.jpg">
                <span class="txt">带你回顾乔丹和科比的故事</span>
              </div>
              <p class="cf"><span class="time fl f">02:20</span><span class="count fr">780万</span></p>
            </a>
          </li>
          <li>
            <a target="_blank" [routerLink]="['#']">
              <div class="vds-img">
                <img width="300" height="180" alt="" src="http://i.gtimg.cn/qqlive/img/jpgcache/files/qqvideo/hori/y/yfixno0g01t57gh_big.jpg">
                <span class="txt">遇见最真实的詹姆斯&#183;哈登</span>
              </div>
              <p class="cf"><span class="time fl f">08:30</span><span class="count fr">23万</span></p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div><!-- /.container -->
</body>

