<div class="footer">
<div class="huoban">
  <div class="layout">
    <div class="hd">
      <span>合作伙伴</span>
    </div>
    <div class="bd ft12 mt30">
      <dl class="fl meiti">
        <dt>
          <p class="size">腾讯体育媒体合作伙伴</p>
        </dt>
        <dd>
          <p><a href="http://www.xinhuanet.com/" target="_blank">新华社</a></p>
          <p><a href="http://sports.cctv.com/index.shtml" target="_blank">央视体育</a></p>
          <p><a href="http://www.tctc.com.cn" target="_blank">旅游卫视</a></p>
        </dd>
      </dl>
      <div class="fl line kongge"></div>
      <dl class="fl kongge">
        <dt>
          <p class="size">AIPS国际体育记者协会</p>
        </dt>
        <dd>
          <p><a href="http://www.nflchina.com/" target="_blank">NFL联盟</a></p>
          <p><a href="http://www.cba.org.cn/" target="_blank">中国羽毛球队</a></p>
          <p><a href="http://tabletennis.sport.org.cn/" target="_blank">中国乒乓球队</a></p>
          <p><a href="http://cga.sport.org.cn/" target="_blank">中国体操队</a></p>
        </dd>
      </dl>
      <div class="fl line kongge"></div>
      <dl class="fl kongge">
        <dt>
          <p class="size">腾讯捷报论坛合作伙伴</p>
        </dt>
        <dd>
          <p><a href="http://www.nanfangdaily.com.cn/" target="_blank">南方都市报</a></p>
          <p><a href="http://ctdsb.cnhubei.com/cache/paper_ctdsb.aspx" target="_blank">楚天都市报</a></p>
          <p><a href="http://e.cdqss.com/" target="_blank">成都商报</a></p>
        </dd>
      </dl>
      <div class="fl line kongge"></div>
      <div class="fl kongge">
        <p class="size">腾讯体育公众平台</p>
        <img name="page_cnt_5" src="http://mat1.gtimg.com/sports/index2015/images/pingtai.jpg" alt=""/>
      </div>
      <div class="fl line kongge"></div>
    </div>
  </div>
</div>
</div>
