<!-- 正文部分 -->
<div class="bc">
  <div class="vds-img">
    <!-- 左边 -->
    <div class="left1">

      <div class="tiaozheng fl" >
        <!-- 引用轮播图 -->
      <div class="lunbotu tiaozheng"><app-basketball-swiper></app-basketball-swiper>
        <div><h4 class="fl">精彩板块</h4></div>
        <br/><br/><br/>
        <div class="hengxian"></div>
        <!-- 视频导航部分 -->
        <div >
        <ul >
          <li class="fl ziti "><a [routerLink]="['']" target="_blank">视频</a></li>
          <li class="line fl"></li>
          <li class="fl ziti"><a [routerLink]="['']" target="_blank">NBA赛程</a></li>
          <li class="line fl"></li>
          <li class="fl ziti"><a [routerLink]="['']" target="_blank">NBA</a></li>
          <li class="line fl"></li>
          <li class="fl ziti"><a [routerLink]="['']" target="_blank">中国篮球</a></li>
          <li class="line fl"></li>
          <li class="fl ziti"><a [routerLink]="['']" target="_blank">社区</a></li>
          <li class="line fl"></li>
          <li class="fl ziti"><a [routerLink]="['']" target="_blank">FIBA世界杯</a></li>
        </ul>
       </div>
        <!-- 视频部分  -->
        <div id="left">
        <ul class="scr-vds ft12 fl" bosszone="TS_JCvideo">
          <li>
            <a target="_blank" [routerLink]="['']">
              <div class="vds-img">
                <img width="180" height="110" alt="" src="http://img1.gtimg.com/sports/pics/hv1/135/187/2282/148434870.jpg">
                <span class="txt">小卡成状元 30号新秀探花</span>
              </div>
              <p><span class="time fl f">03:30</span><span class="count ">234万</span></p>
            </a>
          </li>
          <li>
            <a target="_blank" [routerLink]="['']">
              <div class="vds-img">
                <img width="180" height="110" alt="" src="http://img1.gtimg.com/sports/pics/hv1/134/187/2282/148434869.jpg">
                <span class="txt">热火惨如德国 首轮遭横扫</span>
              </div>
              <p><span class="time fl f">02:20</span><span class="count ">780万</span></p>
            </a>
          </li>
          <li>
            <a target="_blank" [routerLink]="['']">
              <div class="vds-img">
                <img width="180" height="110" alt="" src="http://img1.gtimg.com/fiba/pics/hv1/211/172/2282/148431121.jpg">
                <span class="txt">男篮红队出征新西兰</span>
              </div>
              <p><span class="time fl f">08:30</span><span class="count">23万</span></p>
            </a>
          </li>
        </ul>
        </div>
          <br><br><br>
        <div id="right">
          <ul class="scr-vds ft12 fl" bosszone="TS_JCvideo">
            <li>
              <a target="_blank" [routerLink]="['']">
                <div class="vds-img">
                  <img width="180" height="110" alt="" src="http://img1.gtimg.com/sports/pics/hv1/137/219/2088/135828182.jpg">
                  <span class="txt">罗斯生涯大事记</span>
                </div>
                <p><span class="time fl f">03:50</span><span class="count ">2198万</span></p>
              </a>
            </li>
            <li>
              <a target="_blank" [routerLink]="['']">
                <div class="vds-img">
                  <img width="180" height="110" alt="" src="http://img1.gtimg.com/sports/pics/hv1/183/164/2087/135749178.jpg">
                  <span class="txt">科比险加绿衫军</span>
                </div>
                <p><span class="time fl f">04:20</span><span class="count ">7680万</span></p>
              </a>
            </li>
            <li>
              <a target="_blank" [routerLink]="['']">
                <div class="vds-img">
                  <img width="180" height="110" alt="" src="http://img1.gtimg.com/sports/pics/hv1/116/221/2088/135828671.jpg">
                  <span class="txt">冲进场内请求詹姆斯回家</span>
                </div>
                <p><span class="time fl f">08:30</span><span class="count">23万</span></p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>

    <!-- 右边 -->
    <div class="right1 c">
      <!-- NBA部分 -->
        <div class="b">
          <h2 class="title">NBA</h2>
          <div class="hrr"></div>
          <h3 class="sv">
            <a class="newsv" [routerLink]="['']" target="_blank"
               title="奥拉迪波签约好莱坞经纪公司 与科比格林同门">奥拉迪波签约好莱坞经纪公司 与科比格林同门</a>
          </h3>
          <p>
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="决定3又有新线索 詹皇洛城新居架起安保摄像">决定3又有新线索 詹皇洛城新居架起安保摄像</a>
          </p>
          <p>
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="火箭努力挽留巴莫特格林 阿里扎恐将离开休城">火箭努力挽留巴莫特格林 阿里扎恐将离开休城</a>
          </p>
          <p>
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="朗多表态愿意续签鹈鹕 不会受考辛斯去留的影响">朗多表态愿意续签鹈鹕 不会受考辛斯去留的影响</a>
          </p>

          <h3 class="sv">
            <a class="newsv" [routerLink]="['']" target="_blank"
               title="麦科勒姆替补将成自由身 曾被两大联盟同时选中">麦科勒姆替补将成自由身 曾被两大联盟同时选中</a>
          </h3>
          <p>
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="科尔25岁儿子要当助教 加入勇士夏季联赛教练组">科尔25岁儿子要当助教 加入勇士夏季联赛教练组</a>
          </p>
          <p >
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="小斯盼望新赛季重返NBA：我现在身体状态非常棒">小斯盼望新赛季重返NBA：我现在身体状态非常棒</a>
          </p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="独行侠明确告知马修斯 他不会成交易小乔丹筹码">独行侠明确告知马修斯 他不会成交易小乔丹筹码</a>
        </div>>
      <!-- 中国男篮部分  -->
        <div class="b">
          <h2 class="title">中国男篮</h2>
          <div class="hrr"></div>
          <h3 class="sv">
            <a class="newsv" [routerLink]="['']" target="_blank"
               title="吕晓明当面致歉汤神队友把酒言欢：不打不相识">吕晓明当面致歉汤神队友把酒言欢：不打不相识</a>
          </h3>
          <p>
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="马布里执教北大附中男篮 助力青少年篮球发展">马布里执教北大附中男篮 助力青少年篮球发展</a>
          </p>
          <p>
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="男篮预选赛伊拉克逆转哈萨克斯坦 止连败颓势">男篮预选赛伊拉克逆转哈萨克斯坦 止连败颓势</a>
          </p>
          <p>
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="归化强援+混血中锋送澳洲首败 男篮要防这劲敌">归化强援+混血中锋送澳洲首败 男篮要防这劲敌</a>
          </p>
          <h3 class="sv">
            <a class="newsv" [routerLink]="['']" target="_blank"
               title="科比正式宣布复出 并且加盟广东东莞银行队 宣称要重获总冠军">科比正式宣布复出 并且加盟广东东莞银行队</a>
          </h3>
          <p>
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="历史突破 姚明带领国足率先取得小组晋级名额">历史突破 姚明带领国足率先取得小组晋级名额</a>
          </p>
          <p>
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="重磅消息 詹姆斯加盟北京金隅 与科比正式对线">重磅消息 詹姆斯加盟北京金隅 与科比正式对线</a>
          </p>
          <p>
            <a class="newsv " [routerLink]="['']" target="_blank"
               title="杨咩咩跨界成为NBA咩咩操掌门人 各领风骚">杨咩咩跨界成为NBA咩咩操掌门人 各领风骚</a>
          </p>
        </div>

      <!-- 综合体育部分 -->
        <div class="b">
        <h2 class="title">综合体育</h2>
        <div class="hrr"></div>
        <h3 class="sv">
          <a class="newsv" [routerLink]="['']" target="_blank"
             title="年度颁奖典礼：哈登荣膺常规赛MVP">年度颁奖典礼：哈登荣膺常规赛MVP</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="获奖名单：西蒙斯最佳新秀 戈贝尔最佳防守球员">获奖名单：西蒙斯最佳新秀 戈贝尔最佳防守球员</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="颁奖礼发生了啥？雷霆三少全获MVP 指环王竖中指">颁奖礼发生了啥？雷霆三少全获MVP 指环王竖中指</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="贫民窟走出MVP：一个标志、两位恩人、三项绝技">贫民窟走出MVP：一个标志、两位恩人、三项绝技</a>
        </p>
        <h3 class="sv">
          <a class="newsv" [routerLink]="['']" target="_blank"
             title="科比正式宣布复出 并且加盟广东东莞银行队 宣称要重获总冠军">科比正式宣布复出 并且加盟广东东莞银行队</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="历史突破 姚明带领国足率先取得小组晋级名额">历史突破 姚明带领国足率先取得小组晋级名额</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="重磅消息 詹姆斯加盟北京金隅 与科比正式对线">重磅消息 詹姆斯加盟北京金隅 与科比正式对线</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="杨咩咩跨界成为NBA咩咩操掌门人 各领风骚">杨咩咩跨界成为NBA咩咩操掌门人 各领风骚</a>
        </p>
      </div>
    </div>
  </div>
</div>

