<!-- 正文部分 -->
<div class="bc">
  <div class="vds-img">
    <!-- 左边 -->
    <div class="left1">

      <div class="tiaozheng fl" >
        <!-- 引用轮播图 -->
        <div class="lunbotu tiaozheng"><app-football-swiper></app-football-swiper>
          <div><h4 class="fl">精彩视频</h4></div>
          <br/><br/><br/>
          <div class="hengxian"></div>
          <!-- 视频导航部分 -->
          <div >
            <ul >
              <li class="fl ziti "><a [routerLink]="['#']" target="_blank">热门全场集锦</a></li>
              <li class="line fl"></li>
              <li class="fl ziti"><a [routerLink]="['#']" target="_blank">最热</a></li>
              <li class="line fl"></li>
              <li class="fl ziti"><a [routerLink]="['#']" target="_blank">进球集锦</a></li>
              <li class="line fl"></li>
              <li class="fl ziti"><a [routerLink]="['#']" target="_blank">英超</a></li>
              <li class="line fl"></li>
              <li class="fl ziti"><a [routerLink]="['#']" target="_blank">中超</a></li>
              <li class="line fl"></li>
              <li class="fl ziti"><a [routerLink]="['#']" target="_blank">欧冠</a></li>
            </ul>
          </div>
          <!-- 视频部分  -->
          <div id="left">
            <ul class="scr-vds ft12 fl" bosszone="TS_JCvideo">
              <li>
                <a target="_blank" [routerLink]="['#']">
                  <div class="vds-img">
                    <img width="180" height="110" alt="" src="http://img1.gtimg.com/2018/pics/hv1/188/186/2282/148434668.jpg">
                    <span class="txt">他9分钟进5球 现球都碰不到</span>
                  </div>
                  <p><span class="time fl f">13:50</span><span class="count ">693万</span></p>
                </a>
              </li>
              <li>
                <a target="_blank" [routerLink]="['#']">
                  <div class="vds-img">
                    <img width="180" height="110" alt="" src="http://img1.gtimg.com/2018/pics/hv1/173/21/2280/148262528.jpg">
                    <span class="txt">新王加冕</span>
                  </div>
                  <p><span class="time fl f">06:50</span><span class="count ">320万</span></p>
                </a>
              </li>
              <li>
                <a target="_blank" [routerLink]="['#']">
                  <div class="vds-img">
                    <img width="180" height="110" alt="" src="http://mat1.gtimg.com/2018/ad/skoda/pcjingp0627.jpg">
                    <span class="txt">斯柯达柯米克，震撼上市</span>
                  </div>
                  <p><span class="time fl f">04:30</span><span class="count">13万</span></p>
                </a>
              </li>
            </ul>
          </div>
          <br><br><br>
          <div id="right">
            <ul class="scr-vds ft12 fl" bosszone="TS_JCvideo">
              <li>
                <a target="_blank" [routerLink]="['#']">
                  <div class="vds-img">
                    <img width="180" height="110" alt="" src="http://img1.gtimg.com/2018/pics/hv1/149/186/2282/148434629.jpg">
                    <span class="txt">梅西“洗剪吹”迎淘汰赛</span>
                  </div>
                  <p><span class="time fl f">13:30</span><span class="count ">243万</span></p>
                </a>
              </li>
              <li>
                <a target="_blank" [routerLink]="['#']">
                  <div class="vds-img">
                    <img width="180" height="110" alt="" src="http://img1.gtimg.com/2018/pics/hv1/98/138/2282/148422338.jpg">
                    <span class="txt">摩托品质的电动车 雅迪</span>
                  </div>
                  <p><span class="time fl f">02:20</span><span class="count ">780万</span></p>
                </a>
              </li>
              <li>
                <a target="_blank" [routerLink]="['#']">
                  <div class="vds-img">
                    <img width="180" height="110" alt="" src="//mat1.gtimg.com/pingjs/ext2020/fifaWC_test/2018/images/img_360202-19faccc669.jpg">
                    <span class="txt">世界杯女神</span>
                  </div>
                  <p><span class="time fl f">08:30</span><span class="count">23万</span></p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 右边 -->

    <div class="right1 c b">
      <!-- 世界杯部分 -->
      <div class="b">
        <h2 class="title">世界杯</h2>
        <div class="hrr"></div>
        <h3 class="sv">
          <a class="newsv" [routerLink]="['']" target="_blank"
             title="正直播丹麦0-0法国 丹麦不败即出线">正直播丹麦0-0法国 丹麦不败即出线</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="实时赛况：关注每个进球触发的小组排名变动">实时赛况：关注每个进球触发的小组排名变动</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="GIF-法国禁区内获得破门良机 吉鲁抽射被门将扑出">GIF-法国禁区内获得破门良机 吉鲁抽射被门将扑出</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="法国青年军能否重现辉煌1998？他们只有一个短板">法国青年军能否重现辉煌1998？他们只有一个短板</a>
        </p>

        <h3 class="sv">
          <a class="newsv" [routerLink]="['']" target="_blank"
             title="梅西能否再次拯救阿根廷 复制1974年第三轮奇迹">梅西能否再次拯救阿根廷 复制1974年第三轮奇迹</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="明晨2时播冰岛vs克罗地亚 阿根廷命运审判">明晨2时播冰岛vs克罗地亚 阿根廷命运审判</a>
        </p>
        <p >
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="莫德里奇：阿根廷仍能出线 克罗地亚可以走更远">莫德里奇：阿根廷仍能出线 克罗地亚可以走更远</a>
        </p>
        <a class="newsv " [routerLink]="['']" target="_blank"
           title="GIF-秘鲁打进本届世界杯首球 球迷激动落泪">GIF-秘鲁打进本届世界杯首球 球迷激动落泪</a>
      </div>

      <!-- 欧冠部分  -->
      <div class="b">
        <h2 class="title">欧冠</h2>
        <div class="hrr"></div>
        <h3 class="sv">
          <a class="newsv" [routerLink]="['']" target="_blank"
             title="年度颁奖典礼：哈登荣膺常规赛MVP">年度颁奖典礼：哈登荣膺常规赛MVP</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="获奖名单：西蒙斯最佳新秀 戈贝尔最佳防守球员">获奖名单：西蒙斯最佳新秀 戈贝尔最佳防守球员</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="颁奖礼发生了啥？雷霆三少全获MVP 指环王竖中指">颁奖礼发生了啥？雷霆三少全获MVP 指环王竖中指</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="贫民窟走出MVP：一个标志、两位恩人、三项绝技">贫民窟走出MVP：一个标志、两位恩人、三项绝技</a>
        </p>
        <h3 class="sv">
          <a class="newsv" [routerLink]="['']" target="_blank"
             title="科比正式宣布复出 并且加盟广东东莞银行队 宣称要重获总冠军">科比正式宣布复出 并且加盟广东东莞银行队</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="历史突破 姚明带领国足率先取得小组晋级名额">历史突破 姚明带领国足率先取得小组晋级名额</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="重磅消息 詹姆斯加盟北京金隅 与科比正式对线">重磅消息 詹姆斯加盟北京金隅 与科比正式对线</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="杨咩咩跨界成为NBA咩咩操掌门人 各领风骚">杨咩咩跨界成为NBA咩咩操掌门人 各领风骚</a>
        </p>
      </div>

      <!-- 国足部分 -->
      <div class="b">
        <h2 class="title">中国足球</h2>
        <div class="hrr"></div>
        <h3 class="sv">
          <a class="newsv" [routerLink]="['']" target="_blank"
             title="年度颁奖典礼：哈登荣膺常规赛MVP">年度颁奖典礼：哈登荣膺常规赛MVP</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="获奖名单：西蒙斯最佳新秀 戈贝尔最佳防守球员">获奖名单：西蒙斯最佳新秀 戈贝尔最佳防守球员</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="颁奖礼发生了啥？雷霆三少全获MVP 指环王竖中指">颁奖礼发生了啥？雷霆三少全获MVP 指环王竖中指</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="贫民窟走出MVP：一个标志、两位恩人、三项绝技">贫民窟走出MVP：一个标志、两位恩人、三项绝技</a>
        </p>
        <h3 class="sv">
          <a class="newsv" [routerLink]="['']" target="_blank"
             title="科比正式宣布复出 并且加盟广东东莞银行队 宣称要重获总冠军">科比正式宣布复出 并且加盟广东东莞银行队</a>
        </h3>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="历史突破 姚明带领国足率先取得小组晋级名额">历史突破 姚明带领国足率先取得小组晋级名额</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="重磅消息 詹姆斯加盟北京金隅 与科比正式对线">重磅消息 詹姆斯加盟北京金隅 与科比正式对线</a>
        </p>
        <p>
          <a class="newsv " [routerLink]="['']" target="_blank"
             title="杨咩咩跨界成为NBA咩咩操掌门人 各领风骚">杨咩咩跨界成为NBA咩咩操掌门人 各领风骚</a>
        </p>
      </div>
    </div>
  </div>
</div>
