<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a [routerLink]="['#']" ><img class="d-block w-100 h" src="../../assets/images/5.jpg" alt="First slide"></a>
      <div class="carousel-caption d-none d-md-block">
        <h3>人工智能预测世界杯英超内战 回忆02年中国队</h3>
      </div>
    </div>
    <div class="carousel-item">
      <a [routerLink]="['#']" ><img class="d-block w-100 h" src="../../assets/images/6.jpg" alt="Second slide"></a>
      <div class="carousel-caption d-none d-md-block">
        <h3>《那一年》回顾维内尔93班天才伙伴 点球是英格兰最大的痛</h3>
      </div>
    </div>
    <div class="carousel-item">
      <a [routerLink]="['#']" ><img class="d-block w-100 h" src="../../assets/images/7.jpg" alt="Third slide"></a>
      <div class="carousel-caption d-none d-md-block">
        <h3>会员来抽世界杯球迷装备 100%中奖！</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
