<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <p class="biaoti kong">体坛快讯</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active h" [routerLink]="['homepage']">首页<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link h" [routerLink]="['basketball']">篮球</a>
      <a class="nav-item nav-link h" [routerLink]="['football']">足球</a>
      <a class="nav-item nav-link h" [routerLink]="['community']">社区</a>
      <a class="nav-item nav-link fr h" [routerLink]="['#']">Login</a>
    </div>
  </div>
</nav>
